.pdf-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pdf-page-wrapper {
    width: 100%;
    position: relative;
    display: block;
}

.pdf-page {
    width: 100%;
    height: auto;
    display: block;
}

.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
}

.textLayer > span {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}